
<nav class="nav nav-pills flex-column flex-sm-row nav-font">
  <a class="flex-sm-fill text-sm-center nav-link" href="/"><span id="nav-logo">C8RD</span></a>
  <a class="flex-sm-fill text-sm-center nav-link" href="/user">USERS</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="/order">ORDERS</a>
</nav>
