
<nav class="nav nav-pills flex-column flex-sm-row">
  <a class="flex-sm-fill text-sm-center nav-link" href="/user">HOME</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="/user">USERS</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="/order">ORDERS</a>
</nav>
