<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>  
</head>

<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/user">User Index</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/order">Order Index</a>
  </li>
</ul>