<!DOCTYPE html>
<html>
<head>
  <% include partials/head %>
  <title>Welcome</title>
</head>

<% include partials/main1 %>


<br>


<br>


<br>


<br>


<br>

<p id="main-logo-font">C8RD</p>
<div id="login-reg"><a href="/auth">login/register</a></div>
<% include partials/main2 %>
<% include partials/scripts %>

</html>