<!DOCTYPE html>
<html>
<head>
  <% include partials/head %>
  <title>Welcome</title>
</head>
<% include partials/nav %>

<body>
<div class="container">

<h1>Welcome to Our Caterer Comparison App!</h1>

<p>
We help you choose the right caterer for the right price.  If you are new to our site, please register.  If you've been here before, please login.
</p>

<h3>Register</h3>

<form action="/auth/register" method="POST">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">  
  <button type="submit">Register</button>
</form>


  <h3>Login</h3>
  <form action="catering/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button type="submit">Login</button>
  </form>


  <small><%= message %></small>

<div>
<% include partials/scripts %>
</body>
</html>
