<!DOCTYPE html>
<html>
<head>
  <% include partials/head %>
  <title>Welcome</title>
</head>
<% include partials/nav %>
<% include partials/main1 %>
<h1>WELCOME!</h1>


<form action="/auth/register" method="POST">
  <div class="form-group">
    <input type="text" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Name">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
</form>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p class="lead">We help you choose the right caterer for the right price.  If you are new to our site, please register.  If you've been here before, please login.</p>
  </div>
</div>
<form>
  <div class="form-group">
    <input type="email" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Name">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
</form>
<% include partials/main2 %>
<% include partials/scripts %>

</html>