<!DOCTYPE html>
<html>
<head>
<% include ../partials/head %>
  <title>Edit User</title>
</head>

<% include ../partials/nav %>
<div class="container">
<body>

<h1>EDIT USER!</h1>

  <h3>Please correct this form to make changes to your info</h3>

  
  
  <form action="/user/:id" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    
    <button type="submit"></button>
<% include ../partials/scripts %>
</body>
</div>
</html>


    <h2><%=user.username%></h2>

            <a href= "/<%=user._id%>/edit">EDIT THIS USER</a>
<form action="/user/<%=user._id%>?_method=put" method="POST">
                <button>DELETE</button>
</form> 
