<!DOCTYPE html>
<html>
<head>
  <title>Edit User</title>
</head>
<body>

<h1>Update Username and Password</h1>

  <h3>Please correct this form to make changes to your info</h3>
  <form action="/user/:id" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    
    <button type="submit"></button>

</body>
</html>
