<!DOCTYPE html>
<html>
<head>
<% include ../partials/head %>
  <title>Edit User</title>
</head>




 
    <% include ../partials/nav %>
    <% include ../partials/main1%>

<%if (isCaterer){%>

      <h1>Edit This Catering Order</h1>

      <form action="/order/<%=order._id%>?_method=PUT" method="POST">
        <input type="text" name="caterer" placeholder="change the caterer">
        <input type="text" name="type" placeholder="change the food">
        <input type="text" name="price" placeholder="change the price">
        
        <button class="btn btn-warning" type="submit">Submit Changes</button>
        
      </form>



<%}else{%>

      <h1>Edit This Customer's Order</h1>
       
      <form action="/order/<%=order._id%>?_method=PUT" method="POST">
        <input type="text" name="caterer" placeholder="change your caterer">
        <input type="text" name="type" placeholder="change your food">
      
        <button class="btn btn-warning" type="submit">Submit Changes</button>
      </form>




<%}%>


  

    <% include ../partials/main2%>
    <% include ../partials/scripts %>


 
</html>

