<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Edit <%=order.caterer+ "'s" + order.type%></h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/order">All Orders</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>Edit</h2>
      <form action="/order/<%=order._id%>?_method=PUT" method="post">
      <input type="text" name="caterer" placeholder="change the caterer">
      <input type="text" name="type" placeholder="change the food">

      </form>
    </main>
  </body>
</html>
