<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <meta charset="utf-8">
    <title></title>
  </head>

  <body>
    <% include ../partials/nav %>
    <div class="container">
    <main>
      <h1>Edit This Order</h1>
       <a href= "/order/<%=order._id%>/edit">EDIT THIS ORDER</a>
      <form action="/order/<%=order._id%>?_method=PUT" method="post">
      <input type="text" name="caterer" placeholder="change the caterer">
      <input type="text" name="type" placeholder="change the food">

      </form>
    </main>
    <% include ../partials/scripts %>
   </div>
  </body>
 
</html>

