<!DOCTYPE html>
<html>
<head>
<% include ../partials/head %>
  <title>Edit User</title>
</head>




 
    <% include ../partials/nav %>
    <% include ../partials/main1%>

<%if (isCaterer){%>

      <h1>Edit This Catering Order</h1>
       <a href= "/order/<%=order._id%>/edit">Edit</a>
      <form action="/order/<%=order._id%>?_method=PUT" method="post">
        <input type="text" name="caterer" placeholder="change the caterer">
        <input type="text" name="type" placeholder="change the food">
      </form>



<%}else{%>

      <h1>Edit This Customer's Order</h1>
       <a href= "/order/<%=order._id%>/edit">Edit</a>
      <form action="/order/<%=order._id%>?_method=PUT" method="post">
        <input type="text" name="caterer" placeholder="change the caterer">
        <input type="text" name="type" placeholder="change the food">
      </form>




<%}%>


  

    <% include ../partials/main2%>
    <% include ../partials/scripts %>


 
</html>

