<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% include ../partials/nav %>
    <main>
      <h1>Edit This Order</h1>
      <form action="/order/<%=order._id%>?_method=PUT" method="post">
      <input type="text" name="caterer" placeholder="change the caterer">
      <input type="text" name="type" placeholder="change the food">

      </form>
    </main>
  </body>
</html>
