<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <meta charset="utf-8">
    <title></title>
  </head>

  <% include ../partials/nav %>
  
  <body>
  <div class="container">
  
  
      <h1>All of the Orders</h1>
      <ul>
        <% for(let i = 0; i < order.length; i++){ %>
          <li>
            <a href="/order/<%=order[i]._id%>"><%=order.caterer+ "'s" + order.type%></a>
          </li>
        <% } %>
      </ul>
    </main>
    <% include ../partials/scripts %>
    </div>
  </body>
 
</html>
