<!DOCTYPE html>
<html>
<head>
<% include ../partials/head %>
  <title>Order Index </title>
</head>

<% include ../partials/nav %>
<% include ../partials/main1%>



<%if (isCaterer){%>
      <h1>All of the Caterer 's Orders</h1>

  <%}else{%>


      <h1>All of the Customer 's Orders</h1>



<%}%>

  

      <ul>
      <% order.forEach((order)=>{ %>
            <li>
                <h2><a href="/order/<%=order._id%>"><%=order.caterer%>'s  <%=order.type%></a><h2>
            </li>
      <% }) %>
      </ul>






<% include ../partials/main2 %>
<% include ../partials/scripts %>
 
</html>
