<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <title>Order Index </title>
  </head>

  <% include ../partials/nav %>
  <% include ../partials/main1%>

  <h1>Previous Orders</h1>
    <ul>
    
<% order.forEach((order)=>{ %>   
      <li>
        <div class="card" style="width: 18rem;">
          <div class="card-body spacer">
            <h5 class="card-title"><%=order.caterer%>'s  <%=order.type%></h5>
            <a href="/order/<%=order._id%>" class="btn btn-primary">Select This Order</a>
          </div>
        </div>
      </li>
    
<% }) %>
    
    </ul>
    
<% include ../partials/main2 %>
<% include ../partials/scripts %>
 
</html>