<!DOCTYPE html>
<html>
<head>
<% include ../partials/head %>
  <title>Edit User</title>
</head>

<% include ../partials/nav %>
<% include ../partials/main1%>



<%if (isCaterer){%>
      <h1>All of the Caterer <%=user.username%>'s Orders</h1>

  <%}else{%>


      <h1>All of the Customer <%=user.username%>'s Orders</h1>



<%}%>

  

      <ul>
        <% for(let i = 0; i < order.length; i++){ %>
          <li>
            <a href="/order/<%=order[i]._id%>"><%=order.caterer+ "'s" + order.type%></a>
          </li>
        <% } %>
      </ul>






<% include ../partials/main2 %>
<% include ../partials/scripts %>
 
</html>
