<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <meta charset="utf-8">
    <title></title>
  </head>
  <% include ../partials/nav %>
  
  <body>
<div class="container">
    <header>
      <h1>Make a New Order</h1>
     <form action="/order" method="POST">
        Caterer: <input type="text" name="caterer">
        Food: <input type="textr" name="type">
        <input type="submit">
    </form>
    </main>
    <% include ../partials/scripts %>
   </div>
  </body>

</html>
