<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <meta charset="utf-8">
    <title>Order Show</title>
  </head>
  <% include ../partials/nav %>
  <div class="container">
  <body>
    <header>
      <h1><%=order.caterer+ "'s" + order.type%></h1>
    <section>
    <a href="/order/<%=order._id%>/edit">Edit</a>
        <form action="/order/<%=order._id%>?_method=DELETE" method="post">
            <input type="submit" value="Delete Order"/>
        </form>
    </section>
    </main>
    <% include ../partials/scripts %>
  </body>
  </div>
</html>
